@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1:wght@100;500;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  color: #02020a;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  background-color: #030303;
}

body {
  font-family: 'M PLUS 1', sans-serif;
  line-height: 1.5;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ul {
  width: 100%;
}

#root,
#__next {
  isolation: isolate;
}

.baseFlex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.baseVertFlex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.buttonContainer {
  border-radius: 0.75rem;
}

.buttonContainer button,
.changeShownLyricAmount {
  border: 1px solid rgb(59, 59, 59);
  padding: .6rem .75rem;
  cursor: pointer;
  transition: all 100ms;
}

.buttonContainer button:first-of-type {
  border-radius: .75rem 0 0 .75rem;
}

.buttonContainer button:last-of-type {
  border-radius: 0 .75rem .75rem 0;
}

.buttonContainer button:hover {
  filter: brightness(.75);
}

.toggledOn {
  box-shadow: inset 0px 2px 4px 2px hsl(0deg 0% 0% / 85%);
}


g>text {
  pointer-events: none;
}

.node>* {
  transition: all 100ms;
}

.changeShownLyricAmount {
  border-radius: .75rem;
}

.changeShownLyricAmount:disabled {
  cursor: auto;
}

.changeShownLyricAmount:enabled:hover {
  filter: brightness(.75);
}