.logo {
  position: absolute;
  left: 1%;
  top: 1%;
  font-size: 2em;
  color: rgb(204, 204, 204);
}

.toggleButton {
  padding: 1.5rem;
  gap: .5rem;
}

.icon {
  width: 2.5rem;
  height: 2.5rem;
}

@media (max-width: 900px) {
  .logo {
    position: relative;
    top: auto;
    left: auto;
  }
}