.topContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;

  margin-top: 1rem;
  width: 100%;
}

.mobileLogoLogoutContainer {
  display: none;
}

.controlsContainer {
  transition: all 150ms;
}

.logo {
  margin-left: 2rem;
  font-size: 2em;
  color: rgb(204, 204, 204);
}

.toggleButton {
  padding: 1.5rem;
  gap: 1rem;
}

.icon {
  width: 2rem;
  height: 2rem;
}

@media (max-width: 900px) {
  .topContainer {
    flex-direction: column;
    justify-content: center;
  }

  .desktopLogo,
  .desktopLogout {
    display: none;
  }

  .mobileLogoLogoutContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
  }
}

@media (max-width: 435px) {
  .controlsContainer {
    transform: scale(.9);
  }
}