.headerTableContainer {
  gap: 2.5rem;
}

.table {
  background-color: hsl(0, 0%, 10%);
}

.row {
  padding: 1rem 1.5rem;
}

table {
  border-collapse: separate !important;
  border-radius: 0.75rem;
  overflow: hidden;
}

td,
th {
  text-align: center;
  color: rgb(190, 190, 190);
  padding: 0.5rem;
}

tr:nth-child(even) {
  background-color: #3b3b3b;
}

.legendRow {
  background-color: hsl(0, 0%, 45%);

  th {
    color: black;
  }
}
