@use "../../index.scss" as global;

.dataContainer {
  gap: 1.5rem;
  margin-top: 2.5rem;
}

.pfpContainer {
  border-radius: 50%;
  width: 4.5rem;
  height: 4.5rem;
  background-color: global.$offwhite;
}

.fallbackPFP {
  width: 50%;
  height: 50%;
  border-radius: 0%;
}

.username {
  color: global.$offwhite;
  font-size: 1.25em;
}

@media (max-width: 900px) {
  .dataContainer {
    margin-top: 0.5rem;
  }
}
