.copyToClipboardButton {
  margin: 0;
  padding: 1rem;
  border: none;
  border-radius: 50%;
  background-color: #1db954;
  cursor: pointer;
  transition: all 150ms;

  &:hover {
    filter: brightness(1.15);
  }

  &:active {
    filter: brightness(0.95);
  }
}
